body {
  font-family: $body-font;
  // color: $font-light;
  ::selection {
    background-color: rgba(2, 200, 242, 0.2);
  }
  ::-moz-selection {
    background-color: rgba(2, 200, 242, 0.2);
  }
  background:$brand-light-gray;
  
}
main{
  overflow: hidden;
}

h1,
h2 {
  font-family: $header-font;
  @include ha-u-font--bold;
}

h1 {
  // @include ha-u-leading--l;
  // @include ha-u-headerText--xxl;
  // @include ha-u-marginTop--l;
  // @include ha-u-marginBottom--l;
  color: $font-header-color;
}

h2 {
  // @include ha-u-leading--xs;
  // @include ha-u-headerText--xl;
  // @include ha-u-marginTop--m;
  // @include ha-u-marginBottom--m;
  color: $font-header-color;
}

h3,
h4 {
  @include ha-u-leading--s;
  @include ha-u-headerText--l;
  @include ha-u-font--bold;
  @include ha-u-marginTop--s;
  color: $font-header-color;
  font-family: $header-font;
  margin-top:2em;
}

h5 {
  @include ha-u-leading--l;
  @include ha-u-headerText--m;
  @include ha-u-font--bold;
  @include ha-u-marginTop--s;
  color: $font-header-color;
  font-family: $header-font;
}

p {
  @include ha-u-leading--m;
  @include ha-u-bodyText--m;
  // color: $font-light;
  line-height:1.8em;
  margin-bottom:1em;
}

img,
video,
object {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  max-width: 100%;
  width: 100%;
  empty-cells: show;
}

ul{
  list-style-type: none;
}

:link {
  // color: $brand-blue;
  text-decoration: none;
  @include ha-u-font--bold;

  &.large {
    font-family: $header-font;
    @include ha-u-bodyText--l;
    @include ha-u-leading--s;
  }
  &.g-e-button {
    @include ha-u-bodyText--xs;
    @include ha-u-leading--xs;
    @include ha-u-uppercase;
    @include ha-u-align--center;
  }

  &.ha-u-link--reversed {
    color: $brand-white;
  }

  &.ha-u-fontWeight--normal {
    @include ha-u-fontWeight--normal;
  }
}

a{
  color: inherit;
}

a:hover {
  // color: $brand-purple;
}

a:visited {
  // color: $brand-blue;

  &.ha-u-link--reversed {
    color: $brand-white;
  }
}

blockquote {
  position: relative;
  padding-left: 1em;
  border-left: 0.2em solid lighten($brand-black, 40%);
  @include ha-u-bodyText--m;
  margin-bottom: 1em;
  // font-family: 'Roboto', serif;
  // font-size: $base-font-size;
  // line-height: $base-line-height;
  // font-weight: 100;
  &:before, &:after {
      content: '\201C';
      font-family: 'Sanchez';
      color: lighten($brand-black, 40%);
   }
   &:after {
      content: '\201D';
   }
}


.cmy {
  background:
    url(http://imjameshall.com/belay-c.jpg) 0px 0px,
    url(http://imjameshall.com/belay-m.jpg) 0px 0px,
    url(http://imjameshall.com/belay-y.jpg) 0px 0px,
    url(http://imjameshall.com/belay-k.jpg) 0px 0px; 
background-size:cover;
  height: 500px;
 
}


.cmy, .cmyk {
  margin: .25rem auto;
  width: 804px;
  background-blend-mode: multiply;
  background-color: white;
  background-repeat: no-repeat;
  // background-size: cover;
  // transition: .25s .5s;
  // border-radius: .25rem;
  cursor: grab;
  box-shadow: 3px 3px 5px 6px #ccc;
  
}

.container{
  margin-bottom: 50px;
}
 

// Remove tap highlight on iOS
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
