//
// Breakpoints
//
// Usage:
//
//  element {
//    /* code for small screens */
//
//    @include breakpoint(medium) {
//      /* code for medium screens */
//    }
//    @include breakpoint(large) {
//      /* code for large screens */
//    }
//    @include breakpoint(xlarge) {
//      /* code for xlarge screens */
//    }
//  }

@mixin breakpoint($size) {
  /* For large desktops, grid is at full width */
  @if $size == xlarge {
    @media screen and (min-width: 1368px) {
      @content;
    }
  }
  /* To target a majority of desktop computers and larger */ @else if $size == large {
    @media screen and (min-width: 1152px) {
      @content;
    }
  }
  /* To target phablets and larger */ @else if $size == medium {
    @media screen and (min-width: 550px) {
      @content;
    }
  }
  /* Special case to switch to desktop navigation */ @else if $size = desktopNav {
    @media screen and (min-width: 960px) {
      @content;
    }
  }
}

@mixin vertical-breakpoint($size) {
  @if $size == xlarge {
    @media screen and (min-height: 1000px) {
      @content;
    }
  } @else if $size == large {
    @media screen and (min-height: 700px) {
      @content;
    }
  } @else if $size == medium {
    @media screen and (min-height: 500px) {
      @content;
    }
  }
}
