/*-------------------------------------------
    Definitions: Responsive Breakpoints
-------------------------------------------*/
$D5: 1400;
$D4: 1368;
$D3: 1152;
$D2: 1024;
$D1: 768;
$M3: 550;
$M2: 416;
$M1: 320;

$all-widths: ($M1, $M2, $M3, $D1, $D2, $D3, $D4, $D5);

@function math-scale($min, $max, $percent) {
  @return $min + ($max - $min) * $percent;
}

@function scale-font-size($max, $scale, $width) {
  @if $width > 768 {
    $min: $max * $scale;
    $percent: ($width - $M1) / ($D5 - $M1);
    @return math-scale($min, $max, $percent);
  } @else {
    $min: $max * $scale;
    $percent: ($width - $M1) / ($D2 - $M1);
    @return math-scale($min, $max, $percent);
  }
}

@each $width in $all-widths {
  @media (min-width: $width + px) {
    /* For rem units */
    html {
      //font-size: scale-font-size($width, 1.8, $width) / 100 + px;
    }
  }
}
