/*
*************************************************
GROVO
Layout
Created by the epic SuperFriendly team.
http://superfriend.ly/
*************************************************
*/

.ha {
  &-l {
    /*-------------------------------------------
		    Widths
		-------------------------------------------*/

    &-width--100 {
      @include ha-l-width--100;
    }

    &-width--75 {
      @include ha-l-width--75;
    }

    &-width--66 {
      @include ha-l-width--66;
    }

    &-width--50 {
      @include ha-l-width--50;
    }

    &-width--33 {
      @include ha-l-width--33;
    }

    &-width--25 {
      @include ha-l-width--25;
    }

    &-width--20 {
      @include ha-l-width--20;
    }

    &-width--auto {
      @include ha-l-width--auto;
    }

    &-maxWidth--1000 {
      @include ha-l-maxWidth--1000;
    }

    &-maxWidth--full {
      @include ha-l-maxWidth--full;
    }

    /*-------------------------------------------
		    Columns
		-------------------------------------------*/

    &-col--100 {
      @include ha-l-col--100;
    }

    &-col--75 {
      @include ha-l-col--75;
    }

    &-col--66 {
      @include ha-l-col--66;
    }

    &-col--50 {
      @include ha-l-col--50;
    }

    &-col--33 {
      @include ha-l-col--33;
    }

    &-col--25 {
      @include ha-l-col--25;
    }

    &-col--20 {
      @include ha-l-col--20;
    }

    /*-------------------------------------------
				Flex Items
		-------------------------------------------*/

    &-flexItem--100 {
      @include ha-l-flexItem--100;
    }

    &-flexItem--75 {
      @include ha-l-flexItem--75;
    }

    &-flexItem--66 {
      @include ha-l-flexItem--66;
    }

    &-flexItem--50 {
      @include ha-l-flexItem--50;
    }

    &-flexItem--33 {
      @include ha-l-flexItem--33;
    }

    &-flexItem--25 {
      @include ha-l-flexItem--25;
    }

    &-flexItem--20 {
      @include ha-l-flexItem--20;
    }

    &-flex--spaceBetween {
      @include ha-l-flex--spaceBetween;
    }

    &-flexAlign--center {
      @include ha-l-flexAlign--center;
    }

    &-flex-grow {
      @include ha-l-flexGrow;
    }
    &-flex-grow--no {
      @include ha-l-flexGrow--no;
    }
  }
}
