/*
*************************************************

DANMALL.ME
Mixins

Created by the epic SuperFriendly team.
http://superfriend.ly/

*************************************************
*/

/*-------------------------------------------
    Text
-------------------------------------------*/

@mixin ha-u-headerText--xs {
  font-size: 12px;
}

@mixin ha-u-headerText--s {
  font-size: 15px;
}

@mixin ha-u-headerText--m {
  font-size: 18px;
}

@mixin ha-u-headerText--l {
  @each $width in $all-widths {
    @media (min-width: $width + px) {
      font-size: scale-font-size(24px, 0.8, $width);
    }
  }
}

@mixin ha-u-headerText--xl {
  @each $width in $all-widths {
    @media (min-width: $width + px) {
      font-size: scale-font-size(36px, 0.5, $width);
    }
  }
}

@mixin ha-u-headerText--xxl {
  @each $width in $all-widths {
    @media (min-width: $width + px) {
      font-size: scale-font-size(62px, 0.35, $width);
    }
  }
}

@mixin ha-u-bodyText--xs {
  font-size: 12px;
}

@mixin ha-u-bodyText--s {
  font-size: 20px;
}

@mixin ha-u-bodyText--m {
  @each $width in $all-widths {
    @media (min-width: $width + px) {
      font-size: scale-font-size(24px, 0.8, $width);
    }
  }
}

@mixin ha-u-bodyText--l {
  @each $width in $all-widths {
    @media (min-width: $width + px) {
      font-size: scale-font-size(30px, 0.8, $width);
    }
  }
}

@mixin ha-u-bodyText--xl {
  @each $width in $all-widths {
    @media (min-width: $width + px) {
      font-size: scale-font-size(38px, 0.5, $width);
    }
  }
}

@mixin ha-u-bodyText--xxl {
  @each $width in $all-widths {
    @media (min-width: $width + px) {
      font-size: scale-font-size(76px, 0.35, $width);
    }
  }
}

@mixin ha-u-typeface--montserrat {
  font-family: $montserratFontStack;
}

@mixin ha-u-typeface--roboto {
  font-family: $robotoFontStack;
}

// leading



@mixin ha-u-leading--xs {
  line-height: 0.96em;
}

@mixin ha-u-leading--s {
  line-height: 1.125em;
}

@mixin ha-u-leading--m {
  line-height: 1.2em;
}

@mixin ha-u-leading--l {
  line-height: 1.5em;
}

@mixin ha-u-leading--xl {
  line-height: 1.6em;
}

@mixin ha-u-leading--xxl {
  line-height: 2.33em;
}

// font weight

@mixin ha-u-font--bold {
  font-weight: bold;
}

@mixin ha-u-fontWeight--bold {
  font-weight: bold;
}

@mixin ha-u-font--normal {
  font-weight: normal;
}

@mixin ha-u-fontWeight--normal {
  font-weight: normal;
}

@mixin ha-u-font--italic {
  font-style: italic;
}

// font colors

@mixin ha-u-font--color-light {
  color: $font-light;
}

@mixin ha-u-font--color-dark {
  color: $font-dark;
}

@mixin ha-u-font--color-white {
  color: $font-white;
}

// bullets

@mixin ha-u-bullets {
  list-style: disc;
}

@mixin ha-u-bullets--none {
  list-style: none;
}

// other text styles

@mixin ha-u-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@mixin ha-u-letterspace--in {
  letter-spacing: -1px;
}

/*-------------------------------------------
    Alignments
-------------------------------------------*/

@mixin ha-u-align--left {
  text-align: left;
}

@mixin ha-u-align--right {
  text-align: right;
}

@mixin ha-u-align--center {
  text-align: center;
}

/*-------------------------------------------
    Margins
-------------------------------------------*/

// margin shorthand

@mixin ha-u-margin--0 {
  margin: 0;
}

@mixin ha-u-margin--xs {
  margin: $xs + px;
}

@mixin ha-u-margin--s {
  margin: $s + px;
}

@mixin ha-u-margin--m {
  margin: $m + px;
}

@mixin ha-u-margin--l {
  margin: $l + px;
}

@mixin ha-u-margin--xl {
  margin: $xl + px;
}

@mixin ha-u-margin--xxl {
  margin: $xxl + px;
}

// marginTop

@mixin ha-u-marginTop--0 {
  margin-top: 0;
}

@mixin ha-u-marginTop--xs {
  margin-top: $xs + px;
}

@mixin ha-u-marginTop--s {
  margin-top: $s + px;
}

@mixin ha-u-marginTop--m {
  margin-top: $m + px;
}

@mixin ha-u-marginTop--l {
  margin-top: $l + px;
}

@mixin ha-u-marginTop--xl {
  margin-top: $xl + px;
}

@mixin ha-u-marginTop--xxl {
  margin-top: $xxl + px;
}

@mixin ha-u-marginTop--uberl {
  margin-top: $uberl + px;
}

@mixin ha-u-negativeMarginTop--xs {
  margin-top: $-xs + px;
}

@mixin ha-u-negativeMarginTop--s {
  margin-top: $-s + px;
}

@mixin ha-u-negativeMarginTop--m {
  margin-top: $-m + px;
}

@mixin ha-u-negativeMarginTop--l {
  margin-top: $-l + px;
}

@mixin ha-u-negativeMarginTop--xl {
  margin-top: $-xl + px;
}

@mixin ha-u-negativeMarginTop--xxl {
  margin-top: $-xxl + px;
}

// marginRight

@mixin ha-u-marginRight--0 {
  margin-right: 0;
}

@mixin ha-u-marginRight--xs {
  margin-right: $xs + px;
}

@mixin ha-u-marginRight--s {
  margin-right: $s + px;
}

@mixin ha-u-marginRight--m {
  margin-right: $m + px;
}

@mixin ha-u-marginRight--l {
  margin-right: $l + px;
}

@mixin ha-u-marginRight--xl {
  margin-right: $xl + px;
}

@mixin ha-u-marginRight--xxl {
  margin-right: $xxl + px;
}

// marginBottom

@mixin ha-u-marginBottom--0 {
  margin-bottom: 0;
}

@mixin ha-u-marginBottom--xs {
  margin-bottom: $xs + px;
}

@mixin ha-u-marginBottom--s {
  margin-bottom: $s + px;
}

@mixin ha-u-marginBottom--m {
  margin-bottom: $m + px;
}

@mixin ha-u-marginBottom--l {
  margin-bottom: $l + px;
}

@mixin ha-u-marginBottom--xl {
  margin-bottom: $xl + px;
}

@mixin ha-u-marginBottom--xxl {
  margin-bottom: $xxl + px;
}

@mixin ha-u-marginBottom--uberll {
  margin-bottom: $uberl + px;
}

// marginLeft

@mixin ha-u-marginLeft--0 {
  margin-left: 0;
}

@mixin ha-u-marginLeft--xs {
  margin-left: $xs + px;
}

@mixin ha-u-marginLeft--s {
  margin-left: $s + px;
}

@mixin ha-u-marginLeft--m {
  margin-left: $m + px;
}

@mixin ha-u-marginLeft--l {
  margin-left: $l + px;
}

@mixin ha-u-marginLeft--xl {
  margin-left: $xl + px;
}

@mixin ha-u-marginLeft--xxl {
  margin-left: $xxl + px;
}

@mixin ha-u-negativeMarginLeft--xs {
  margin-left: $-xs + px;
}

@mixin ha-u-negativeMarginLeft--s {
  margin-left: $-s + px;
}

@mixin ha-u-negativeMarginLeft--m {
  margin-left: $-m + px;
}

@mixin ha-u-negativeMarginLeft--l {
  margin-left: $-l + px;
}

@mixin ha-u-negativeMarginLeft--xl {
  margin-left: $-xl + px;
}

@mixin ha-u-negativeMarginLeft--xxl {
  margin-left: $-xxl + px;
}

@mixin ha-u-marginAlign--horizontal {
  margin: 0 auto;
}

/*-------------------------------------------
    Paddings
-------------------------------------------*/

// padding shorthand

@mixin ha-u-padding--0 {
  padding: 0;
}

@mixin ha-u-padding--xs {
  padding: $xs + px;
}

@mixin ha-u-padding--s {
  padding: $s + px;
}

@mixin ha-u-padding--m {
  padding: $m + px;
}

@mixin ha-u-padding--l {
  padding: $l + px;
}

@mixin ha-u-padding--xl {
  padding: $xl + px;
}

@mixin ha-u-padding--xxl {
  padding: $xxl + px;
}

// paddingTop

@mixin ha-u-paddingTop--0 {
  padding-top: 0;
}

@mixin ha-u-paddingTop--xs {
  padding-top: $xs + px;
}

@mixin ha-u-paddingTop--s {
  padding-top: $s + px;
}

@mixin ha-u-paddingTop--m {
  padding-top: $m + px;
}

@mixin ha-u-paddingTop--l {
  padding-top: $l + px;
}

@mixin ha-u-paddingTop--xl {
  padding-top: $xl + px;
}

@mixin ha-u-paddingTop--xxl {
  padding-top: $xxl + px;
}

@mixin ha-u-paddingTop--uberl {
  padding-top: $uberl + px;
}

// paddingRight

@mixin ha-u-paddingRight--0 {
  padding-right: 0;
}

@mixin ha-u-paddingRight--xs {
  padding-right: $xs + px;
}

@mixin ha-u-paddingRight--s {
  padding-right: $s + px;
}

@mixin ha-u-paddingRight--m {
  padding-right: $m + px;
}

@mixin ha-u-paddingRight--l {
  padding-right: $l + px;
}

@mixin ha-u-paddingRight--xl {
  padding-right: $xl + px;
}

@mixin ha-u-paddingRight--xxl {
  padding-right: $xxl + px;
}

// paddingBottom

@mixin ha-u-paddingBottom--0 {
  padding-bottom: 0;
}

@mixin ha-u-paddingBottom--xs {
  padding-bottom: $xs + px;
}

@mixin ha-u-paddingBottom--s {
  padding-bottom: $s + px;
}

@mixin ha-u-paddingBottom--m {
  padding-bottom: $m + px;
}

@mixin ha-u-paddingBottom--l {
  padding-bottom: $l + px;
}

@mixin ha-u-paddingBottom--xl {
  padding-bottom: $xl + px;
}

@mixin ha-u-paddingBottom--xxl {
  padding-bottom: $xxl + px;
}

@mixin ha-u-paddingBottom--uberl {
  padding-bottom: $uberl + px;
}

// paddingLeft

@mixin ha-u-paddingLeft--0 {
  padding-left: 0;
}

@mixin ha-u-paddingLeft--xs {
  padding-left: $xs + px;
}

@mixin ha-u-paddingLeft--s {
  padding-left: $s + px;
}

@mixin ha-u-paddingLeft--m {
  padding-left: $m + px;
}

@mixin ha-u-paddingLeft--l {
  padding-left: $l + px;
}

@mixin ha-u-paddingLeft--xl {
  padding-left: $xl + px;
}

@mixin ha-u-paddingLeft--xxl {
  padding-left: $xxl + px;
}

/*-------------------------------------------
    Indent
-------------------------------------------*/

@mixin ha-u-textIndent--0 {
  text-indent: 0;
}

/*-------------------------------------------
    Links
-------------------------------------------*/
@mixin ha-u-link--reversed {
  color: $brand-white;
}

/*-------------------------------------------
    Display
-------------------------------------------*/

@mixin ha-u-hide {
  display: none;
}

@mixin ha-u-show {
  display: block;
}

@mixin ha-u-block {
  display: block;
}

@mixin ha-u-display--block {
  display: block;
}

@mixin ha-u-display--none {
  display: none;
}

@mixin ha-u-display--inlineBlock {
  display: inline-block;
}

@mixin ha-u-display--inline {
  display: inline;
}

@mixin ha-u-display--flex {
  display: flex;
}
@mixin ha-u-display--flexWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin ha-u-flexDirection--responsive {
  flex-direction: column;

  @include breakpoint(medium) {
    flex-direction: row;
  }
}

/*-------------------------------------------
    Positioning
-------------------------------------------*/

@mixin ha-u-pos--absolute {
  position: absolute;
}

@mixin ha-u-pos--relative {
  position: relative;
}

@mixin ha-u-pos--static {
  position: static;
}

@mixin ha-u-pos--fixed {
  position: fixed;
}

/*-------------------------------------------
    Moving
-------------------------------------------*/

@mixin ha-u-move--offscreen {
  @include ha-u-pos--absolute;
  @include ha-u-show;
  left: -99999px;
}

@mixin ha-u-move--onscreen {
  @include ha-u-pos--absolute;
  @include ha-u-show;
  left: 0;
}

/*-------------------------------------------
    Floating & Clearing
-------------------------------------------*/

@mixin ha-u-float--left {
  float: left;
}

@mixin ha-u-float--right {
  float: right;
}

@mixin ha-u-float--none {
  float: none;
}

@mixin ha-u-clear--left {
  clear: left;
}

@mixin ha-u-clear--right {
  clear: right;
}

@mixin ha-u-clear--both {
  clear: both;
}

/* Easy Clearing - http://www.positioniseverything.net/easyclearing.html */
/*
@mixin ha-u-clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
*/

/*-------------------------------------------
    Phark
-------------------------------------------*/

@mixin ha-u-phark {
  display: block;
  text-indent: -9999px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
}

/*-------------------------------------------
    Backgrounds
-------------------------------------------*/

@mixin ha-u-bg--none {
  background: none;
}

@mixin ha-u-bg--dots {
  background: $background-dots repeat;
  background-size: 375px 360px;
}

/*-------------------------------------------
    Box Shadow
-------------------------------------------*/

@mixin ha-u-boxShadow--none {
  box-shadow: none;
}

/*-------------------------------------------
    Border separated
-------------------------------------------*/

@mixin ha-u-borderSeparated {
  &:after {
    background: $brand-white;
    content: "";
    display: block;
    margin: 1em 0 0;
    height: 2px;
    width: 24px;
  }
}

/*-------------------------------------------
    Widths
-------------------------------------------*/

@mixin ha-l-width--100 {
  width: 100%;
}

@mixin ha-l-width--75 {
  width: 75%;
}

@mixin ha-l-width--66 {
  width: 66.66666666667%;
}

@mixin ha-l-width--50 {
  width: 50%;
}

@mixin ha-l-width--33 {
  width: 33.333333333333%;
}

@mixin ha-l-width--25 {
  width: 25%;
}

@mixin ha-l-width--20 {
  width: 20%;
}

@mixin ha-l-width--auto {
  width: auto;
}

@mixin ha-l-maxWidth--1000 {
  max-width: 1000px;
}

@mixin ha-l-maxWidth--full {
  max-width: 100%;
}

/*-------------------------------------------
    Columns
-------------------------------------------*/

@mixin ha-l-col--100 {
  @include ha-u-float--left;
  @include ha-l-width--100;
}

@mixin ha-l-col--75 {
  @include ha-u-float--left;
  @include ha-l-width--75;
}

@mixin ha-l-col--66 {
  @include ha-u-float--left;
  @include ha-l-width--66;
}

@mixin ha-l-col--50 {
  @include ha-u-float--left;
  @include ha-l-width--50;
}

@mixin ha-l-col--33 {
  @include ha-u-float--left;
  @include ha-l-width--33;
}

@mixin ha-l-col--25 {
  @include ha-u-float--left;
  @include ha-l-width--25;
}

@mixin ha-l-col--20 {
  @include ha-u-float--left;
  @include ha-l-width--20;
}

/*-------------------------------------------
    Flexbox Columns
-------------------------------------------*/

@mixin ha-l-flexItem--100 {
  flex: 100%;
  flex-grow: 0;
}

@mixin ha-l-flexItem--75 {
  flex: 73%;
  flex-grow: 0;
}

@mixin ha-l-flexItem--66 {
  flex: 63%;
  flex-grow: 0;
}

@mixin ha-l-flexItem--50 {
  flex: 48%;
  flex-grow: 0;
}

@mixin ha-l-flexItem--33 {
  flex: 48%;
  flex-grow: 0;
  @include breakpoint(medium) {
    flex: 30%;
    flex-grow: 0;
  }
}

@mixin ha-l-flexItem--25 {
  flex: 48%;
  @include breakpoint(large) {
    flex: 22%;
    flex-grow: 0;
  }
}

@mixin ha-l-flexItem--20 {
  flex: 48%;
  flex-grow: 0;
  @include breakpoint(large) {
    flex: 17%;
    flex-grow: 0;
  }
}

/*-------------------------------------------
    Flexbox Layouts
-------------------------------------------*/
@mixin ha-l-flex--spaceBetween {
  justify-content: space-between;
}

@mixin ha-l-flexAlign--center {
  align-items: center;
}

@mixin ha-l-flexGrow {
  flex-grow: 1;
}

@mixin ha-l-flexGrow--no {
  flex-grow: 0;
}

/*-------------------------------------------
    Text Entry
-------------------------------------------*/

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}
