/*
*************************************************

Grovo.com
Utilities

Created by the epic SuperFriendly team.
http://superfriend.ly/

*************************************************
*/

.ha {
  &-u {
    /*-------------------------------------------
		    Text
		-------------------------------------------*/

    &-headerText--xs {
      @include ha-u-headerText--xs;
    }

    &-headerText--s {
      @include ha-u-headerText--s;
    }

    &-headerText--m {
      @include ha-u-headerText--m;
    }

    &-headerText--l {
      @include ha-u-headerText--l;
    }

    &-headerText--xl {
      @include ha-u-headerText--xl;
    }

    &-headerText--xxl {
      @include ha-u-headerText--xxl;
    }

    &-bodyText--xs {
      @include ha-u-bodyText--xs;
    }

    &-bodyText--s {
      @include ha-u-bodyText--s;
    }

    &-bodyText--m {
      @include ha-u-bodyText--m;
    }

    &-bodyText--l {
      @include ha-u-bodyText--l;
    }

    &-bodyText--xl {
      @include ha-u-bodyText--xl;
    }

    &-bodyText--xxl {
      @include ha-u-bodyText--xxl;
    }

    &-typeface--montserrat {
      @include ha-u-typeface--montserrat;
    }

    &-typeface--roboto {
      @include ha-u-typeface--roboto;
    }

    // leading

    &-leading--xs {
      @include ha-u-leading--xs;
    }

    &-leading--s {
      @include ha-u-leading--s;
    }

    &-leading--m {
      @include ha-u-leading--m;
    }

    &-leading--l {
      @include ha-u-leading--l;
    }

    &-leading--xl {
      @include ha-u-leading--xl;
    }

    &-leading--xxl {
      @include ha-u-leading--xxl;
    }

    // font weight

    &-font--normal {
      @include ha-u-font--normal;
    }

    &-fontWeight--normal {
      @include ha-u-font--normal;
    }

    &-font--bold {
      @include ha-u-font--bold;
    }

    &-fontWeight--bold {
      @include ha-u-font--bold;
    }

    // bullets

    &-bullets {
      @include ha-u-bullets;
    }

    &-bullets--none {
      @include ha-u-bullets--none;
    }

    // other text styles

    &-uppercase {
      @include ha-u-uppercase;
    }

    &-letterspace--in {
      @include ha-u-letterspace--in;
    }

    /*-------------------------------------------
		    Alignments
		-------------------------------------------*/

    &-align--left {
      @include ha-u-align--left;
    }

    &-align--right {
      @include ha-u-align--right;
    }

    &-align--center {
      @include ha-u-align--center;
    }

    /*-------------------------------------------
		    Margins
		-------------------------------------------*/

    // margin shorthand

    &-margin--0 {
      @include ha-u-margin--0;
    }

    &-margin--xs {
      @include ha-u-margin--xs;
    }

    &-margin--s {
      @include ha-u-margin--s;
    }

    &-margin--m {
      @include ha-u-margin--m;
    }

    &-margin--l {
      @include ha-u-margin--l;
    }

    &-margin--xl {
      @include ha-u-margin--xl;
    }

    &-margin--xxl {
      @include ha-u-margin--xxl;
    }

    // marginTop

    &-marginTop--0 {
      @include ha-u-marginTop--0;
    }

    &-marginTop--xs {
      @include ha-u-marginTop--xs;
    }

    &-marginTop--s {
      @include ha-u-marginTop--s;
    }

    &-marginTop--m {
      @include ha-u-marginTop--m;
    }

    &-marginTop--l {
      @include ha-u-marginTop--l;
    }

    &-marginTop--xl {
      @include ha-u-marginTop--xl;
    }

    &-marginTop--xxl {
      @include ha-u-marginTop--xxl;
    }
    &-marginTop--uberl {
      @include ha-u-marginTop--uberl;
    }

    &-negativeMarginTop--xs {
      @include ha-u-negativeMarginTop--xs;
    }

    &-negativeMarginTop--s {
      @include ha-u-negativeMarginTop--s;
    }

    &-negativeMarginTop--m {
      @include ha-u-negativeMarginTop--m;
    }

    &-negativeMarginTop--l {
      @include ha-u-negativeMarginTop--l;
    }

    &-negativeMarginTop--xl {
      @include ha-u-negativeMarginTop--xl;
    }

    &-negativeMarginTop--xxl {
      @include ha-u-negativeMarginTop--xxl;
    }

    // marginRight

    &-marginRight--0 {
      @include ha-u-marginRight--0;
    }

    &-marginRight--xs {
      @include ha-u-marginRight--xs;
    }

    &-marginRight--s {
      @include ha-u-marginRight--s;
    }

    &-marginRight--m {
      @include ha-u-marginRight--m;
    }

    &-marginRight--l {
      @include ha-u-marginRight--l;
    }

    &-marginRight--xl {
      @include ha-u-marginRight--xl;
    }

    &-marginRight--xxl {
      @include ha-u-marginRight--xxl;
    }

    // marginBottom

    &-marginBottom--0 {
      @include ha-u-marginBottom--0;
    }

    &-marginBottom--xs {
      @include ha-u-marginBottom--xs;
    }

    &-marginBottom--s {
      @include ha-u-marginBottom--s;
    }

    &-marginBottom--m {
      @include ha-u-marginBottom--m;
    }

    &-marginBottom--l {
      @include ha-u-marginBottom--l;
    }

    &-marginBottom--xl {
      @include ha-u-marginBottom--xl;
    }

    &-marginBottom--xxl {
      @include ha-u-marginBottom--xxl;
    }

    // marginLeft

    &-marginLeft--0 {
      @include ha-u-marginLeft--0;
    }

    &-marginLeft--xs {
      @include ha-u-marginLeft--xs;
    }

    &-marginLeft--s {
      @include ha-u-marginLeft--s;
    }

    &-marginLeft--m {
      @include ha-u-marginLeft--m;
    }

    &-marginLeft--l {
      @include ha-u-marginLeft--l;
    }

    &-marginLeft--xl {
      @include ha-u-marginLeft--xl;
    }

    &-marginLeft--xxl {
      @include ha-u-marginLeft--xxl;
    }

    &-marginAlign--horizontal {
      @include ha-u-marginAlign--horizontal;
    }

    /*-------------------------------------------
		    Paddings
		-------------------------------------------*/

    // padding shorthand

    &-padding--0 {
      @include ha-u-padding--0;
    }

    &-padding--xs {
      @include ha-u-padding--xs;
    }

    &-padding--s {
      @include ha-u-padding--s;
    }

    &-padding--m {
      @include ha-u-padding--m;
    }

    &-padding--l {
      @include ha-u-padding--l;
    }

    &-padding--xl {
      @include ha-u-padding--xl;
    }

    &-padding--xxl {
      @include ha-u-padding--xxl;
    }

    // paddingTop

    &-paddingTop--0 {
      @include ha-u-paddingTop--0;
    }

    &-paddingTop--xs {
      @include ha-u-paddingTop--xs;
    }

    &-paddingTop--s {
      @include ha-u-paddingTop--s;
    }

    &-paddingTop--m {
      @include ha-u-paddingTop--m;
    }

    &-paddingTop--l {
      @include ha-u-paddingTop--l;
    }

    &-paddingTop--xl {
      @include ha-u-paddingTop--xl;
    }

    &-paddingTop--xxl {
      @include ha-u-paddingTop--xxl;
    }

    &-paddingTop--uberl {
      @include ha-u-paddingTop--uberl;
    }

    // paddingRight

    &-paddingRight--0 {
      @include ha-u-paddingRight--0;
    }

    &-paddingRight--xs {
      @include ha-u-paddingRight--xs;
    }

    &-paddingRight--s {
      @include ha-u-paddingRight--s;
    }

    &-paddingRight--m {
      @include ha-u-paddingRight--m;
    }

    &-paddingRight--l {
      @include ha-u-paddingRight--l;
    }

    &-paddingRight--xl {
      @include ha-u-paddingRight--xl;
    }

    &-paddingRight--xxl {
      @include ha-u-paddingRight--xxl;
    }

    // paddingBottom

    &-paddingBottom--0 {
      @include ha-u-paddingBottom--0;
    }

    &-paddingBottom--xs {
      @include ha-u-paddingBottom--xs;
    }

    &-paddingBottom--s {
      @include ha-u-paddingBottom--s;
    }

    &-paddingBottom--m {
      @include ha-u-paddingBottom--m;
    }

    &-paddingBottom--l {
      @include ha-u-paddingBottom--l;
    }

    &-paddingBottom--xl {
      @include ha-u-paddingBottom--xl;
    }

    &-paddingBottom--xxl {
      @include ha-u-paddingBottom--xxl;
    }

    &-paddingBottom--uberl {
      @include ha-u-paddingBottom--uberl;
    }

    // paddingLeft

    &-paddingLeft--0 {
      @include ha-u-paddingLeft--0;
    }

    &-paddingLeft--xs {
      @include ha-u-paddingLeft--xs;
    }

    &-paddingLeft--s {
      @include ha-u-paddingLeft--s;
    }

    &-paddingLeft--m {
      @include ha-u-paddingLeft--m;
    }

    &-paddingLeft--l {
      @include ha-u-paddingLeft--l;
    }

    &-paddingLeft--xl {
      @include ha-u-paddingLeft--xl;
    }

    &-paddingLeft--xxl {
      @include ha-u-paddingLeft--xxl;
    }

    /*-------------------------------------------
		    Text Indent
		-------------------------------------------*/

    &-textIndent--0 {
      @include ha-u-textIndent--0;
    }

    /*-------------------------------------------
		    Links
		-------------------------------------------*/
    &-link--reversed {
      @include ha-u-link--reversed;
    }

    /*-------------------------------------------
		    Display
		-------------------------------------------*/

    &-hide {
      @include ha-u-hide;
    }

    &-show,
    &-block {
      @include ha-u-show;
    }

    &-display {
      &--block {
        @include ha-u-display--block;
      }

      &--none {
        @include ha-u-display--none;
      }

      &--inlineBlock {
        @include ha-u-display--inlineBlock;
      }

      &--inline {
        @include ha-u-display--inline;
      }

      &--flex {
        @include ha-u-display--flex;
      }

      &--flexWrap {
        @include ha-u-display--flexWrap;
      }
    }

    /*-------------------------------------------
		    Positioning
		-------------------------------------------*/

    &-pos--absolute {
      @include ha-u-pos--absolute;
    }

    &-pos--relative {
      @include ha-u-pos--relative;
    }

    &-pos--static {
      @include ha-u-pos--static;
    }

    &-pos--fixed {
      @include ha-u-pos--fixed;
    }

    /*-------------------------------------------
		    Moving
		-------------------------------------------*/

    &-move--offscreen {
      @include ha-u-move--offscreen;
    }

    &-move--onscreen {
      @include ha-u-move--onscreen;
    }

    /*-------------------------------------------
		    Floating & Clearing
		-------------------------------------------*/

    &-float--left {
      @include ha-u-float--left;
    }

    &-float--right {
      @include ha-u-float--right;
    }

    &-float--none {
      @include ha-u-float--none;
    }

    &-clear--left {
      @include ha-u-clear--left;
    }

    &-clear--right {
      @include ha-u-clear--right;
    }

    &-clear--both {
      @include ha-u-clear--both;
    }

    /* Easy Clearing - http://www.positioniseverything.net/easyclearing.html */
    &-clearfix:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }

    /*-------------------------------------------
		    Phark
		-------------------------------------------*/

    &-phark {
      @include ha-u-phark;
    }

    /*-------------------------------------------
		    Colors
		-------------------------------------------*/

    &-color--white {
      color: $brand-white;
    }

    /*-------------------------------------------
		    Backgrounds
		-------------------------------------------*/

    &-bg--none {
      @include ha-u-bg--none;
    }

    /*-------------------------------------------
		    Box Shadow
		-------------------------------------------*/
    &-boxShadow--none {
      @include ha-u-boxShadow--none;
    }

    /*-------------------------------------------
		    Border Separated
		-------------------------------------------*/
    &-borderSeparated {
      @include ha-u-borderSeparated;
    }

    /*-------------------------------------------
		    Box Shadow
		-------------------------------------------*/
    &-horizontalColumn {
      display: flex;
      flex-direction: column;
    }
    &-flexFull {
      flex: 1;
    }
  }
}
