	<footer id="footer">
			<section class='ha-c-contact'>
					<h3>GET IN TOUCH</h3>
					<p>Have a need you'd like to discuss?<br> <a href='mailto:james@hallandall.com'>Click here to email us</a> or tap the chat
						icon at the bottom of your screen.</p>
						<div class='socials'>
							<a href="//github.com/imjameshall" target="_blank"><img src='/assets/images/social-something.png'></a>
							<a href="//instagram.com/imjameshall" target="_blank"><img src='/assets/images/social-instagram.png'></a>
							<a href="//twitter.com/imjameshall" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="18px">
								<path fill-rule="evenodd" fill="rgb(241, 240, 234)" d="M20.992,2.180 C20.220,2.522 19.389,2.753 18.518,2.856 C19.407,2.325 20.090,1.484 20.412,0.482 C19.580,0.974 18.658,1.331 17.676,1.523 C16.891,0.689 15.771,0.168 14.533,0.168 C12.153,0.168 10.224,2.089 10.224,4.461 C10.224,4.795 10.262,5.123 10.336,5.437 C6.755,5.258 3.581,3.550 1.456,0.954 C1.086,1.588 0.873,2.325 0.873,3.111 C0.873,4.600 1.634,5.914 2.789,6.684 C2.084,6.661 1.419,6.467 0.838,6.146 C0.838,6.163 0.838,6.182 0.838,6.200 C0.838,8.280 2.323,10.013 4.294,10.409 C3.932,10.506 3.552,10.560 3.159,10.560 C2.881,10.560 2.611,10.532 2.348,10.482 C2.896,12.187 4.487,13.428 6.372,13.463 C4.898,14.613 3.040,15.301 1.022,15.301 C0.674,15.301 0.331,15.279 -0.006,15.239 C1.901,16.458 4.165,17.168 6.598,17.168 C14.522,17.168 18.855,10.628 18.855,4.957 C18.855,4.771 18.851,4.586 18.843,4.403 C19.684,3.797 20.415,3.041 20.992,2.180 Z"
								/>
							</svg></a>
							<a href="//medium.com/imjameshall" target="_blank"><img src='/assets/images/social-medium.png'></a>
						</div>
						<p>
							<svg width='50px' class="mwsa" id="86b573f6-e047-42f6-9a67-594a1aff1e36" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 300.78 420.12">
								<title>mwsa</title>
								<g id="457e5924-d1d1-46f6-9353-fedafaeae25c" data-name="Page-1">
									<path id="4cad3ceb-ef6a-4b5f-843c-07de580bb456" data-name="mwsa-on-red-copy-3" d="M300.8,30.33C301,16.44,290.68,5,277.66,4.77L28.88.41c-13-.23-23.78,10.85-24,24.75L0,302.75a26,26,0,0,0,6.6,17.91L130,414.8a27.83,27.83,0,0,0,16.09,5.72c5.59.1,11.38-1.62,17.26-5.14l125.36-88.54a26,26,0,0,0,7.22-17.67L300.8,30.33Zm-124.9-4.81,12.84.22c11,.19,36.15.69,36.24,34.61l7.16.09.59-33.73,45.52.65-.07,4.2L245.45,31l-.52,29.65,16.93.3-.07,4.24-16.93-.3-.44,25.41,32.72.61-.07,4.2-45.52-.79.52-29.65-7.22-.14c-2.49,31.52-37.28,29-37.28,29l-12.84-.22,1.18-67.76ZM28.49,69.14a9.18,9.18,0,0,1,2.35,1.22s-1.29,1.34-1.36,5.23a7.9,7.9,0,0,0,7.61,8c7.11.32,14.76-6.54,16.67-16.4,2.5-12.91,5.92-43.61,5.92-43.61l4.21.07L77.57,56.34,92.4,24.13l4.21.07,9.52,54L136,24.89l4.27.07C152.37,64.59,158,80.68,168.44,92.09c13.8,15.12,41,29.8,59.62,15.37l1.27,3.44s-7.64,8.22-21.51,7c-17.23-1.57-29.43-9.48-40.41-20.16s-14.23-19.84-19.65-34.48l-22.39-.39L109.2,92.2l-4.29-.07L94.53,32.73,78.82,66.1,76,66,64.43,39.48S63.74,62,59.7,74.71c-2.58,8.12-9.45,17.73-22.23,15.62-13.28-2.19-11.76-15.9-9-21.18ZM167,194.28l22.76.4,0,1.88-22.76-.4Zm28.9,65.47.86-49.42L202.5,209l-1.36,77.49-4.27-.84-19.05-48.83L177,283.43l-5.67-1.14,1.19-68.15,4.28-.59,19.12,46.2ZM80.43,146.32s-5.19,16.37,1,22.14c4.68,4.36,10.8-.71,10.61-6.42a106,106,0,0,1-.47-19.59,10.11,10.11,0,0,0-4.11.84c-1.77.77-3.39-6.48-3.39-6.48,1.73-.4,4.72,0,7.83.84.4-4.49,1.79-17.38,4.42-22.39.51-1,2-1.22,2.95-1.38,1.32-.23,4.48.24,5.19,1-4.11,7.45-6,16.44-6.8,24.55a17,17,0,0,0,7.49-.39.3.3,0,0,1,.35.4c-.81,1.87-1.92,3.61-4.59,4a12.33,12.33,0,0,1-3.55-.14,91.37,91.37,0,0,0,.56,17.92c.57,3.15,2.06,7.88,5.51,7.94,5.64.1,6.1-6,6.1-6,.59-5.82-.24-33.91,10.83-51.73a22.73,22.73,0,0,1,8.18-1.18c1.48,0,1.93,1,1.6,1.62s-8.22,2.42-12.84,30.33c3.25-2.59,7.47-4.67,13.25-1.23,8.41,5-.45,23.06,7.53,33.14.62,1.21-.27,1.34-.5,1.35-6.51,0-10.55-1.91-10.33-5.83,4.35-24.41-5.34-26.3-9.87-18.22-1.71,5.82-1,21.14-.88,23.41a.31.31,0,0,1-.26.32l-6.57,1a.31.31,0,0,1-.36-.33l.23-4.08s-7.43,9.67-14.83-1.75C92.63,174.69,88,177.67,81,175.2c-6.59-2.33-10.83-12.7-5.44-29l4.87.09Zm-4-4.83a3.3,3.3,0,0,1,3.1-2.92,2.46,2.46,0,0,1,2.27,3,3.3,3.3,0,0,1-3.1,2.92,2.46,2.46,0,0,1-2.27-3ZM98.66,207l7.09,1.54.24,68,20-2.5-.12,7.08L97.3,284.86,98.66,207ZM109,193.26l22.76.4,0,1.88-22.76-.4Zm39.33,20.46,2.85,0,17.31,68.1L160,280.31l-5.27-24.1-11.38-.2-6.11,23.9-8.56,1.26,19.68-67.45Zm-9.48-27.47,2.85,0-.3,16.94-2.85,0Zm8.24,17.09.3-16.94,3.88.07,5.9,10,.17-9.88,2.85,0-.3,16.94-2.85,0-6.92-11.42-.2,11.3-2.85,0Zm32.09-38.87c-2.35,12-14.48,12.81-17.13,12.61-6.66-.57-17-3.42-17.14-19.44.72-9.8,8.09-12.07,12-10a2,2,0,0,1,1.19,2.33c-8.57-.92-10.2,8.64-6.53,14,3.29,4.82,9.75,5.39,15,2.11,6.2-3.89,8.41-11.64-6.54-24.36-14.79-12.57-12.21-24.86-3.07-30.54,9.13-5.07,22.23-.29,22.35,10.48a8.39,8.39,0,0,1-2.08,4.94,3.33,3.33,0,0,1-2.31.88c1.76-4.43.17-9.68-6.39-11.33-7.49-1.52-12,3.17-12.23,7-.59,10.3,7.26,14.39,14.36,20.08,7.95,6.37,9.86,14.32,8.52,21.21ZM26.5,107.56a2.25,2.25,0,0,1,.33-1.09c.34-.49,8.88,7.57,16.79,3.75,1.26-.61.36,1.41-.2,2.5-3.57,7-7.93,17.41-7.51,30.63.76,23.7,11.84,23.26,11.41,20-1.93-14.94.16-17.89,1-18.66s3.21-1.75,4.38-1.34a100.7,100.7,0,0,0-.95,11.13c-.06,3.35,0,10.83,4.51,10.91,6.74.12,10.11-22.11,6.06-50.58a13.63,13.63,0,0,1,2.4-2.78,8.37,8.37,0,0,1,3-1.67c.32-.15.94,0,.93.49,0,.16,2.23,24.83,1.36,39.1-1.31,21.3-8.73,24.33-12.19,24.58-4.57.34-7.16-4.68-7.16-4.68s-5.31,10.82-14.2,1.79c-7.55-7.66-13-34.81-1.71-54.95-8.35-2.34-8.23-9.09-8.23-9.09Zm38,183.79-8.88-32.07L39.37,257l-3.63,40.9-12.74,4L39.18,189.22,42,190.68l31,98-8.58,2.67Zm-1.32-87.59.15-8.47L93,204.4l-.12,6.94-9.91-3-1.37,78.36L74.48,288l1.42-81.19-12.75-3Zm150.1,114.38c-2.49,1.34-7,6.43-3.35,9,1.06.92-1.36,2.15-2.5,2.53s-8.47,5.07-5.58,13.75c2,4.13-.12,6.25-2.19,7.72s-8.19,6.94-9.12,13.1c.37,2,.61,7,1.85,8.66.18.24-.35.65-.1.94,1.77,2.11.89,6.7-.36,7.16s-3.21-2.66-3.82-3.26-2.73-3.25-2.18-5.22c.61-2.16-1.18-3.86-2.3-4.46a.44.44,0,0,0-.48,0c-.79.63-2,2-3.1,1.43s-1.39-3.2-7.45-.88-3.32,3.68-7.28,4.1-6.45-2.18-8-1.64-2.9.55-3.52,1.42a5.45,5.45,0,0,1-3.89,2.56c-1.26.56-4.54,4.29-3.23,7.79a.44.44,0,0,1-.07.42c-.2.25-.2.44-.79.22s-5.3-.45-5.5-4.83a.27.27,0,0,0-.06-.16c-1.08-1.29-2.92-3.47-3.12-5a.27.27,0,0,0,0-.12,5,5,0,0,0-5.33-2.28.28.28,0,0,0-.2.17c-.33.81-.94,2.24-1.42,2.2s-3.78-1.47-4.09-2.92-.38-2.7-2.21-3.74c-.7-.77-.92-1.27-1.19-1.42a1.9,1.9,0,0,1-1-1,.43.43,0,0,0-.45-.28c-1.88.2-9.66.92-12.67,0-3.31-1-9.56-5.34-9.56-5.34l-5.73-.74a.58.58,0,0,1-.51-.57,6.2,6.2,0,0,0-2.83-4.79,13.67,13.67,0,0,0-5-2.63.56.56,0,0,1-.42-.39c-.74-2.46-5.32-17.71-5.41-19.75a.42.42,0,0,1,.07-.25,10.79,10.79,0,0,0,1.47-7.86.42.42,0,0,1,.16-.42c.57-.41,2.06-1.88,3-6.31,1.06-4.86.95-7.61.49-8.23a.57.57,0,0,1-.11-.48c.08-.31.15-.67.2-.92a.29.29,0,0,1,.39-.22l.47.16a.29.29,0,0,1,.16.14c.25.47,1.39,2.4,2.58,1.26a4.34,4.34,0,0,0,1.34-2.36.29.29,0,0,1,.3-.24l1,0,.11,0c1.42.39,31.08,8.36,59.49,6.29l.92-.88a.59.59,0,0,1,.91.11A1,1,0,0,1,152,311c-.37.68,7,1.55,10.17,1.88a.58.58,0,0,1,.3,1l-3.57,2.78a.29.29,0,0,0,.17.52,13.45,13.45,0,0,0,4.34-.54,14.81,14.81,0,0,0,3.58-1.83.29.29,0,0,1,.43.38l-.34.65a.15.15,0,0,0,.1.21l3.72.91H171l3.32-1.32a.59.59,0,0,1,.54.05l1.39.88a.58.58,0,0,1-.29,1.08c-2,.09-4.72.73-5.61,3.49-1.44,4.48-2.32,10.33.29,11s3.41-4.49,1.64-6.11a5.78,5.78,0,0,1,3.52-7c.78-.22,4.06-1.15,3.58,3.71-.35.72-1.33,1-.56,2.21.37-.1,1.62-2.66,2.43-1.23a4.7,4.7,0,0,1,.69,4c-.45,1.23-2,2.39-1.53,3s2.23,5.16,8.66-1.6a.58.58,0,0,0,0-.75c-.34-.46-.69-.92-.33-1.1s1.08-1,3.7-.64c.91-.21,3.35-.7,2.31-2.86a.28.28,0,0,1,0-.23c.42-1,.87-3.47,4.51-3.8s7.72-2.56,7.87-4.42.25-6.48,3.41-5.86,3.06,4.13,3.35,4.68a5.4,5.4,0,0,0,1.7,1.81c.36.06.13.87-2.36,2.21Zm9.18-27.54-7.09-1.54,1.37-78.39-10,2.65.12-6.94,30-8.07-.15,8.47-12.85,2.6-1.42,81.21Zm38.37,11.24-2.2-41-16.27,1.7-10,31.74-8.49-3,34.44-96.85,2.87-1.36,12.23,113.2-12.59-4.46Zm16.35-133c-.12,2.41-3.29,7.41-6.95,8.41-4.41,1.21-7.36.34-10.7-5.21,0,0-3.92,5.06-9.27,5.25-6.34.23-9-7.25-9-7.25-1.16,4.41-5.55,8.31-13.17,6.62-6.16-1.36-8.91-5-9.65-11.47-.53-4.59-.16-8.95,1.36-15.2a19.92,19.92,0,0,1-6.29,4.87,25.37,25.37,0,0,1-.13,2.94c-1.33,11.63-7.51,19.41-16.5,19.25-8.37-.15-15.09-9-13.84-19.78s9-19.49,17.4-19.35c6.59.12,11.57,5.66,12.79,13.29,3.65-1.32,7-4.58,8.45-9.71a1.69,1.69,0,0,1,1.35-1.35,20.8,20.8,0,0,1,2.5-.11c2.83,0,2.76,2,2.61,2.26-3.88,7.6-5.89,22.86-.91,25.86,4.23,2.55,10,.43,11.4-6.89.93-4.8,1.8-16.87,2.11-19.08a2.61,2.61,0,0,1,1.94-1.63,15.6,15.6,0,0,1,3-.17.82.82,0,0,1,.84.94c-.24,2-1.45,9.73-2.26,17.42-.11,1-2,11.63,5.24,13.57,4.36,1.17,7.28-4.89,7.28-4.89-3.69-10.84-7.51-25.57-2.89-41.8,4.29-15.07,11.61-16.56,16.14-12.79,5.48,4.57,4.47,23.93,1.18,34.59A118.84,118.84,0,0,1,263,167.39c1.7,5.4,6.15,8.19,13.48-.44C276.87,166.49,277.21,167.28,277.13,168.84Zm-68.53-16.07c-1.43-5.3-4.81-8.91-9.32-8.35a10.22,10.22,0,0,0-6.24,3.56.84.84,0,0,0,0,1.06C196.88,154,206.62,153,208.61,152.77Zm12-88.29-14.12-.27.07-4.08,14.21.18c-.14-34.34-32.15-30-32.15-30l-1,59S218.07,91.66,220.57,64.47ZM149.16,235,145,249.24l8.77.07Zm95.4,20L258,253.3l-2-27.46Zm-191-3.33L43.17,222.12l-3,27.38ZM139.43,36.08,126.86,58.62l19.6.34Zm46,318.44-5-.09L179,349.68a.29.29,0,0,0-.56,0l-1.63,4.7-5-.09a.29.29,0,0,0-.18.53l4,3-1.63,4.7a.29.29,0,0,0,.45.33l4.11-2.85,4,3a.29.29,0,0,0,.46-.32l-1.47-4.76,4.11-2.85A.29.29,0,0,0,185.43,354.52Zm3.79-198.69c-1.95,6.11,1.61,15.13,9.28,14.8,9.44-.41,10.73-13.73,10.72-14.07C198.51,161.09,192,158,189.22,155.84Zm76.73-34c-1.43-.55-3.08-.55-5.46,5.46-2.75,7-3.77,22.89-.2,34.74A94.76,94.76,0,0,0,267.6,137C268.42,130.57,267.58,122.52,266,121.89Z"
										transform="translate(-0.02 -0.41)" fill="#ffffff"></path>
								</g>
							</svg>
						</p>
				</section>
				<section class='ha-c-copyright'>
        <p>© 2017 Hall and All. All rights reserved</p>
					<canvas id='snek-bottom' class="ha-c-snekBottom ha-c-snek"></canvas>
				</section>
		</footer>