    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 184.01 159.62" style='width:80px;'>
      <defs>
        <style>
          .logo-fill {
            fill: #191919;
          }
        </style>
      </defs>
      <g id="Layer_2" data-name="Layer 2">
        <g id="Isolation_Mode" data-name="Isolation Mode">
          <path class="logo-fill" d="M182,0H166.07A2.06,2.06,0,0,0,164,2.06V141.44c0,11,9,18,20,18V2.06A2.06,2.06,0,0,0,182,0Z"
          />
          <path class="logo-fill" d="M153,0H137.07A2.06,2.06,0,0,0,135,2.06V141.44c0,11,9,18,20,18V2.06A2.06,2.06,0,0,0,153,0Z"
          />
          <path class="logo-fill" d="M2,88.51H19.3A1.46,1.46,0,0,0,20.76,87l-.2-37.83A1.46,1.46,0,0,1,22,47.74h4.63c10.69,0,11.52,8.83,11.52,11.54v28a1.46,1.46,0,0,0,1.46,1.46h17.6a1.46,1.46,0,0,0,1.46-1.46v-28c0-18.57-13.47-32.05-32-32.05H21.89a1.46,1.46,0,0,1-1.46-1.45L20.31,2.45A1.46,1.46,0,0,0,18.85,1H1.52A1.46,1.46,0,0,0,.07,2.47L.51,87.06A1.46,1.46,0,0,0,2,88.51Z"
          />
          <path class="logo-fill" d="M123.68,27H108a1.51,1.51,0,0,0-1.51,1.51v1.82a.22.22,0,0,1-.3.2,29.85,29.85,0,0,0-17.76-1.06A29.23,29.23,0,0,0,67.21,49.18,30.12,30.12,0,0,0,95.78,88.62a28.89,28.89,0,0,0,9.93-1.74.59.59,0,0,1,.8.55v.49a.6.6,0,0,0,.6.6h17a1.7,1.7,0,0,0,1.7-1.7V29.09A2.12,2.12,0,0,0,123.68,27Zm-18,36a10,10,0,0,1-5.54,5.54A10.82,10.82,0,0,1,85.9,54.26a10,10,0,0,1,5.54-5.54A10.82,10.82,0,0,1,105.66,62.94Z"
          />
          <path class="logo-fill" d="M49.13,138.49a1.47,1.47,0,0,1,0-1.58L55.49,127a1.49,1.49,0,0,0-1.26-2.29H40.43L35,116.49a.88.88,0,0,1,.73-1.37h13.2a1.61,1.61,0,0,0,1.61-1.61V99.28a1.61,1.61,0,0,0-1.61-1.61h-45a1.61,1.61,0,0,0-1.37,2.46l9.51,15.3a1.36,1.36,0,0,1-.48,1.91,22.45,22.45,0,1,0,24.8,37.24l2.26,3.64a2.6,2.6,0,0,0,2.21,1.23H59.69a1.47,1.47,0,0,0,1.24-2.25Zm-22.64-.35a4.13,4.13,0,0,1-2.9,2.9,4.2,4.2,0,0,1-5.17-5.18,4.13,4.13,0,0,1,2.9-2.9A4.2,4.2,0,0,1,26.49,138.13Z"
          />
          <path class="logo-fill" d="M123.68,98H108a1.51,1.51,0,0,0-1.51,1.51v1.82a.22.22,0,0,1-.3.2,29.85,29.85,0,0,0-17.76-1.06,29.23,29.23,0,0,0-21.26,19.73,30.12,30.12,0,0,0,28.58,39.44,28.89,28.89,0,0,0,9.93-1.74.59.59,0,0,1,.8.55v.49a.6.6,0,0,0,.6.6h17a1.7,1.7,0,0,0,1.7-1.7V100.09A2.12,2.12,0,0,0,123.68,98Zm-18,36a10,10,0,0,1-5.54,5.54A10.82,10.82,0,0,1,85.9,125.26a10,10,0,0,1,5.54-5.54A10.82,10.82,0,0,1,105.66,133.94Z"
          />
        </g>
      </g>
    </svg>