<header class="ha-c-siteHeader" role="banner">
  <div class='ha-c-siteHeader__cta'>
    <p><a href='#footer'>Get In Touch</a></p>
  </div>
  <div id='ha-c-siteHeader__menu' class='ha-c-siteHeader__menu '>
    <div class='ha-c-siteHeader__container '>
      <div class='ha-c-menu__social'>
        <ul>
          <li><a href="//github.com/imjameshall" target="_blank"><img src='/assets/images/social-black-github.png'></a></li>
          <li><a href="//instagram.com/imjameshall" target="_blank"><img src='/assets/images/social-black-instagram.png'></a></li>
          <li>
            <a href="//twitter.com/imjameshall" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="18px">
                <defs>
                  <filter id="Filter_0">
                    <feFlood flood-color="rgb(76, 70, 66)" flood-opacity="1" result="floodOut" />
                    <feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" />
                    <feBlend mode="normal" in="compOut" in2="SourceGraphic" />
                  </filter>

                </defs>
                <g filter="url(#Filter_0)">
                  <path fill-rule="evenodd" fill="rgb(241, 240, 234)" d="M20.992,2.179 C20.220,2.522 19.389,2.752 18.518,2.856 C19.407,2.325 20.090,1.484 20.412,0.482 C19.580,0.974 18.658,1.331 17.676,1.523 C16.891,0.689 15.771,0.168 14.533,0.168 C12.153,0.168 10.224,2.089 10.224,4.461 C10.224,4.795 10.262,5.123 10.336,5.437 C6.755,5.258 3.581,3.550 1.456,0.954 C1.086,1.588 0.873,2.325 0.873,3.111 C0.873,4.600 1.634,5.914 2.789,6.684 C2.084,6.661 1.419,6.467 0.838,6.146 C0.838,6.163 0.838,6.182 0.838,6.200 C0.838,8.280 2.323,10.013 4.294,10.409 C3.932,10.506 3.552,10.560 3.159,10.560 C2.881,10.560 2.611,10.532 2.348,10.482 C2.896,12.187 4.487,13.428 6.372,13.463 C4.898,14.613 3.040,15.301 1.022,15.301 C0.674,15.301 0.331,15.279 -0.006,15.239 C1.901,16.458 4.165,17.168 6.598,17.168 C14.522,17.168 18.855,10.628 18.855,4.957 C18.855,4.771 18.851,4.586 18.843,4.402 C19.684,3.797 20.415,3.041 20.992,2.179 Z"
                  />
                </g>
              </svg>
            </a>
          </li>
          <li><a href="//medium.com/imjameshall" target="_blank"><img src='/assets/images/social-medium.png'></a></li>
        </ul>

      </div>
      <div class='ha-c-menu__pages'>
        <ul>
          {# <li>
            <a href='/work'>
              <h2><span>Work</span></h2>
            </a>
          </li> #}
          <li>
            <a href='/about'>
              <h2><span>About</span></h2>
            </a>
          </li>
          {# <li>
            <a href='#footer'>
              <h2><span>Contact</span></h2>
            </a>
          </li> #}
        </ul>
      </div>
      <div class='ha-c-menu__quote'>
        <p><a class='currently' target='_blank' href='//open.spotify.com/user/imjameshall'></a></p>
      </div>
    </div>
  </div>
  <div class='ha-c-siteHeader__logo'>
  <a href='/'>
    {% include 'components/_logo' %}
    </a>
  </div>


  <div class='ha-c-siteHeader__menuCallout'>
    <a id="nav-hamburger"><span id='hamburger-lines'></span></a>
  </div>
</header>
<section class='ha-c-featuredArea' style='height:133px;background-color:gray;display:flex;'>
	<div style='width:50%;background-color:#191919;height:100%;'>
	</div>
	<div style='width:50%;background-color:#ffaeae;height:100%;'>
	</div>
</section>
{% include 'components/_animatedLine' %}