.ha {
  &-c {
    &-contact {
      @include ha-u-paddingBottom--s;
      h3 {
        color: $brand-turqoise;
        @include ha-u-align--center;
        letter-spacing: .250rem;
        margin:0;
        @include ha-u-paddingTop--xl;
        @include ha-u-paddingBottom--m;
      }
      p {
        margin: auto;
        max-width: 400px;
        @include ha-u-align--center;
        @include ha-u-bodyText--s;
        @include ha-u-padding--xs;
        @include breakpoint(medium) {
          padding:0;
        }
      }
      a{
        color: $brand-salmon; 
      }
      background-color: $brand-black;
      color: $brand-white;
      &--infoContainer {
        @include ha-u-display--flex;
        @include ha-u-paddingLeft--xxl;
        @include ha-u-paddingRight--xxl;
        div {
          flex: 1;
        }
      }
      .socials{
        @include ha-u-paddingBottom--m;
        @include ha-u-paddingTop--m;
        max-width: 600px;
        display: flex;
        margin:auto;
        justify-content: space-around;
      }
    }
    &-copyright{
      position: relative;
      background-color:$brand-salmon;
      color: $brand-white;
      p{
        @include ha-u-typeface--roboto;
        padding-bottom:20px;
        padding-top:20px;
        @include ha-u-align--center;
        font-size:15px;
        margin: 0;
        
        @include breakpoint(medium) {
          @include ha-u-bodyText--s;
          padding-bottom:15px;
          padding-top:15px;
          @include ha-u-align--left;
          @include ha-u-paddingLeft--xxl;
        }
        
      }
      .ha-c-snekBottom{
        position:absolute;
        top:0;
      }
    }
    
  }
}