.ha {
  &-c {
    &-siteHeader {
      @include ha-u-pos--fixed;
      width: 100%;
      display: flex;
      justify-content: space-between;
      z-index: 5;
      @include breakpoint(medium) {
        padding-left: 120px;
        padding-right: 120px;
      }
      &__cta {
        padding-top: 30px;
        @include ha-u-uppercase;
        line-height: 1.2;
        width: 148px;
        
        color: $brand-white;
        p {
          border-bottom: $brand-salmon solid 5px;
          font-size: 17px;
          text-align: center;
          @include ha-u-paddingBottom--xs;
        }
        z-index: 2;
        opacity: 0;
        @include breakpoint(medium) {
          opacity: 1;
          // width: auto;
        }
        &.active,
        &.showing {
          a {
            transition: all 250ms ease-in-out;
            color: $brand-black;
          }
        }
      }
      &__logo {
        background-color: $brand-light-gray;
        padding: 30px 40px;
        z-index: 2;
      }
      &__menuCallout {
        padding-top: 30px;
        width: 148px;
        z-index: 2;
      }
      &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap; // transition: all 250ms ease-in-out;
        padding-top: 150px;
        padding-left: 20px;
        padding-right: 20px;
        @include breakpoint(medium) {
          padding-top: 180px;
          padding-left: 120px;
          padding-right: 120px;
        }
        &.hidden {
          opacity: 0;
        }
      }
      &__menu {
        @include ha-u-pos--absolute;
        width: 160px;
        height: 135px;
        overflow: hidden;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $brand-light-gray;
        z-index: 1;
        transition: all 250ms ease-in-out;
        &.cross {
          height: 450px;
          margin: inherit;
        }
        &.active {
          width: 100%;
          box-shadow: 0px 2px 20px 0px $brand-dark-gray;
        }
        &.showing {
          width: 100%;
          box-shadow: 0px 2px 20px 0px $brand-dark-gray;
        }
      }
    }
    &-menu {
      &__social {
        // width: 150px;
        margin: auto;
        text-align: center;
        ul {
          li {
            @include ha-u-paddingBottom--m;
            display: inline-block;
            @include ha-u-paddingRight--s;
            @include ha-u-paddingLeft--s;
            @include breakpoint(medium) {
              display: block;
            }
          }
        }
        @include breakpoint(medium) {
          width: 150px;
          margin: inherit;
        }
      }
      &__pages {
        width: 150px;
        text-align: center;
        ul {
          li {
            color: rgb(76, 70, 66);
            text-transform: uppercase;
            line-height: 1.2;
            text-align: center;
            letter-spacing: .300rem;
            @include ha-u-paddingBottom--l;
            span {
              position: relative; // display: block;
              cursor: pointer;
              &:before,
              &:after {
                content: '';
                position: absolute;
                width: 0%;
                height: 12px;
                top: 50%;
                margin-top: -5px;
                background: $brand-turqoise;
                z-index: -1;
              }
              &:before {
                left: -5px;
              }
              &:after {
                right: .5px;
                background: $brand-turqoise;
                transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
              }
              &:hover:before {
                background: $brand-turqoise;
                width: 105%;
                transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
              }
              &:hover:after {
                background: transparent;
                width: 100%;
                transition: 0s;
              }
            }
          }
        }
      }
      &__quote {
        width: 150px;
        text-align: center;
        .currently {
          h3 {
            margin-top: 0px;
            @include ha-u-typeface--roboto;
            font-size: 18px !important;
            text-transform: uppercase;
            color: $brand-turqoise;
            letter-spacing: .2rem;
          }
          p {
            @include ha-u-paddingTop--xs;
            @include ha-u-paddingBottom--xs;
            font-weight: normal;
            font-size:18px;
          }
        }
      }
    }
  }
}