.ha {
  &-p {
    &-about {
      &__information {
        @include ha-u-paddingTop--l;
        @include breakpoint(large) {
          padding-left: 100px;
        }
        // @include breakpoint(xlarge) {
        //   padding-left: 300px;
        // }
        img {
          width:100%;
          @include breakpoint(large) {
            width:auto;
            position: absolute;
            right: 0;
            z-index: -1;
          }
        }
        h2 {
          
          @include ha-u-paddingBottom--m;
          color: $brand-gold;
          @include ha-u-typeface--montserrat;
          letter-spacing: .25rem;
          @include ha-u-paddingLeft--m;
          @include ha-u-paddingRight--m;
          @include ha-u-paddingTop--m;
          @include ha-u-align--center;
          @include breakpoint(large) {
            @include ha-u-paddingTop--uberl;
            @include ha-u-align--left;
            padding-left: 0px;
            padding-right:0px;
          }
        }
        p {
          max-width: 800px; //  
          margin:auto;
          @include ha-u-align--center;
          @include ha-u-paddingBottom--m;
          @include ha-u-paddingLeft--m;
          @include ha-u-paddingRight--m;
          @include breakpoint(large) {
            @include ha-u-paddingBottom--uberl;
            max-width: 550px; //  
            margin:inherit;
            @include ha-u-align--left;
            padding-left: 0px;
            padding-right:0px;
          }
        }
      }
      &__experience {
        width: 80%;
        margin: auto;
        .experience-text {
          max-width: 800px;
          margin: auto;
          text-align: center;
        }
        @include ha-u-paddingTop--m;
        @include ha-u-paddingBottom--m;
        @include breakpoint(medium) {
          @include ha-u-paddingBottom--uberl;
        }
        .image-container {
          @include ha-u-paddingTop--xl;
          @include ha-u-display--flex;
          @include ha-u-flexDirection--responsive;
          align-items: center;
          justify-content: space-around;
          @include ha-u-typeface--roboto;
          text-align: center;
          @mixin image-stuff {
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            width: 250px;
            height: 250px;
            p {
              text-align: center;
              max-width: 250px;
              font-size: 18px;
            }
            margin-left:10px;
            margin-right:10px;
            @include ha-u-marginBottom--m;
            @include breakpoint(xlarge) {
              margin-left:0px;
              margin-right:0px;
              margin-bottom:0px;
              width: 330px;
              height: 330px;
            }
          }
          .image {
            &-1 {
              @include image-stuff;
              color: $brand-turqoise;
              background: linear-gradient(rgba(25, 25, 25, 0.6), rgba(25, 25, 25, 0.6)), url(/assets/images/image-1.jpg) center / cover no-repeat;
            }
            &-2 {
              @include image-stuff;
              color: $brand-salmon;
              background: linear-gradient(rgba(25, 25, 25, 0.6), rgba(25, 25, 25, 0.6)), url(/assets/images/image-2.jpg) center / cover no-repeat;
            }
            &-3 {
              @include image-stuff;
              color: $brand-gold;
              background: linear-gradient(rgba(25, 25, 25, 0.6), rgba(25, 25, 25, 0.6)), url(/assets/images/image-3.jpg) center / cover no-repeat;
            }
          }
        }
      }
    }
  }
}