.ha {
  &-c {
    &-body {
      @include ha-u-padding--s;
      a{
        color: $brand-salmon;
      }
      @include breakpoint(medium) {
        padding: 0 240px;
        @include ha-u-paddingTop--m;
        @include ha-u-paddingBottom--m;
      }
    }
    &-articleHeader {
      h1{
        color: $brand-white;
        @include ha-u-align--center;
        @include ha-u-headerText--xxl;
        margin:auto;
        @include ha-u-paddingTop--uberl;
        @include ha-u-paddingBottom--m;
      }
      p{
        color: $brand-white;
        max-width:300px;
        @include ha-u-align--center;
        @include ha-u-typeface--roboto;
        // @include ha-u-headerText--xxl;
        margin:auto;
        // @include ha-u-paddingTop--uberl;
        @include ha-u-paddingBottom--uberl;
        a{
          color: $brand-salmon;
        }
        @include breakpoint(medium) {
          max-width:700px;
        }
      }
      
      position: relative;
      img{
        width: 100%;
        position: relative;
      //   &:after {
      //   content: '';
      //   position: absolute;
      //   width: 100%;
      //   height: 100%;
      //   top: 0;
      //   left: 0;
      //   background: rgba(25, 25, 25, 0.6);
      //   opacity: 1;
      //   transition: all 1s;
      //   -webkit-transition: all 1s;
      // }
      }
      // 
    }
    &-animatedLine {
      height: 66px; //for the snake;
    }
  }
}

.ha {
  &-c {
    &-screenshots {
      background-color: $brand-black;
      .shot-container {
        @include ha-u-display--flex;
        @include ha-u-flexDirection--responsive;
        @include breakpoint(medium) {
          overflow-x: scroll;
        }
        .shots {
          flex: 0 0 auto;
          @include ha-u-padding--xs;
          @include breakpoint(medium) {
            @include ha-u-padding--xl;
            max-width: 900px;
          }
        }
      }
    }
  }
}