.ha {
  &-c {
    &-offerings {
      &--container {
        @include ha-u-display--flex;
        @include ha-l-flex--spaceBetween;
        @include ha-u-flexDirection--responsive;
        max-width: 60%;
        margin: auto;
        p {
          text-align: center;
          @include ha-u-paddingTop--m;
          @include breakpoint(medium) {
            @include ha-u-paddingBottom--xs;
            margin-bottom:0;
            min-height: 200px;
          }
        }
        ul {
          @include ha-u-paddingBottom--s;
          @include breakpoint(medium) {
            padding-bottom: 0;
          }
        }
      }
      h3 {
        max-width: 350px;
        margin: auto;
        @include ha-u-paddingTop--xl; 
        @include ha-u-paddingBottom--l;
        @include ha-u-align--center;
        letter-spacing: .250rem;
        font-size:2.4em;
        @include breakpoint(medium) {
          max-width: 900px; 
        }
      }
      .cms-icon {
        fill: none;
        stroke: $brand-salmon;
        stroke-miterlimit: 10;
        stroke-width: 4px;
      }
      .cms-icon2 {
        fill: $brand-salmon;
      }
      .mobile-icon,
      .mobile-icon2 {
        fill: none;
        stroke: $brand-turqoise;
        stroke-miterlimit: 10;
        stroke-width: 4px;
      }
      .mobile-icon2 {
        stroke-dasharray: 5 4;
      }
      .mobile-icon3 {
        fill: $brand-turqoise;
      }
      .custom-icon,
      .custom-icon2,
      .custom-icon3 {
        fill: none;
        stroke: $brand-gold;
        stroke-miterlimit: 10;
        stroke-width: 4px;
      }
      .custom-icon2 {
        stroke-dasharray: 5 6;
      }
      .custom-icon3 {
        stroke-dasharray: 4 6;
      }
      ul {
        &.mobile-apps {
          color: $brand-turqoise;
        }
        &.cms-dev {
          color: $brand-salmon;
        }
        &.custom-dev {
          color: $brand-gold;
        }
        li {
          max-width: 150px;
          &:first-of-type {
            color: $brand-dark-gray;
            @include ha-u-paddingTop--xs;
            @include ha-u-paddingBottom--xs;
            @include ha-u-typeface--montserrat;
            font-weight: 700;
            @include ha-u-uppercase;
            letter-spacing: .250rem;
            line-height: 1.556;
          }
          padding-bottom: 6px;
        }
      }
    }
    &-caseStudies {
      color: $brand-white;
      padding: 10px;
      @include breakpoint(medium) {
        @include ha-u-padding--xxl;
      }
      article {
        @include ha-u-display--flex;
        @include ha-u-flexDirection--responsive;
        @include ha-l-flex--spaceBetween;
        &:not(:last-child) {
          @include ha-u-marginBottom--m;
          @include breakpoint(medium) {
            @include ha-u-marginBottom--xxl;
          }
        }
      }
      &--info {
        @include ha-u-padding--m;
        @include ha-u-typeface--roboto;
        max-width: 330px;
        @include breakpoint(medium) {
          max-width: 400px;
          @include ha-u-padding--xl;
          @include ha-u-paddingTop--xl;
          @include ha-u-paddingBottom--xl ;
        }
        small {
          font-size: 13.741px;
          font-family: "Montserrat";
          color: rgb(63, 217, 194);
          font-weight: bold;
          line-height: 1.2;
          letter-spacing: .250rem;
        }
        h2 {
          @include ha-u-typeface--montserrat;
          font-weight: bold;
          text-transform: uppercase;
          line-height: 0.913;
          color: $brand-white;
          letter-spacing: .250rem;
          @include ha-u-paddingTop--xs;
        }
        p {
          @include ha-u-paddingTop--m;
          @include ha-u-paddingBottom--m;
        }
        a {
          color: $brand-salmon;
        }
      }
      &--logo {
        @include ha-u-align--right; 
        @include ha-u-paddingRight--m;
        @include breakpoint(medium) {
          @include ha-u-paddingRight--xl;
          @include ha-u-display--flex;
          align-items: flex-end;
        }
      }
    }
    &-clients {
      
      @include ha-u-hide;
      
      @include breakpoint(medium) {
        @include ha-u-display--flex;
      }
      &--clientList {
        background-color: $brand-turqoise;
        @include ha-u-display--flexWrap;
        @include ha-l-flex--spaceBetween;
        @include ha-u-paddingLeft--xxl;
        @include ha-u-paddingRight--xxl;
        @include ha-u-paddingTop--xxl;
        @include ha-u-paddingBottom--xxl;
      }
      &--clientListClient {
        flex: 1 1 50%;
        @include ha-u-align--center;
        @include ha-u-paddingTop--m;
        @include ha-u-paddingBottom--m;
        img {
          max-width: 100px;
        }
      }
      &--info {
        display:flex;
        flex: 1;
        position: relative;
        align-items: center;
        @include ha-u-pos--relative;
        svg {
          @include ha-u-pos--absolute;
          top: 25px;
          right: -70px;
        }
        p {
          max-width: 200px;
          @include ha-u-align--right;
          margin-left: -50px;
        }
      }
    }
  }
}