/*-------------------------------------------
    Definitions: Colors
-------------------------------------------*/

$brand-light-gray: #f4f0e6;
$brand-white: #ffffff;
$brand-black: #191919;
$brand-salmon: #ffaeae;
$brand-turqoise: #3fd9c2;
$brand-dark-gray: #4c4642;
$brand-gold: #feb62c;

$font-header-color: $brand-black;
$font-light: $brand-light-gray;

/*-------------------------------------------
    Definitions: Images
-------------------------------------------*/

/*-------------------------------------------
    Definitions: Fonts
-------------------------------------------*/
// $helveticaStack: Helvetica, Arial, sans-serif;
$montserratFontStack: 'Montserrat', Helvetica, sans-serif;
$robotoFontStack: "Roboto Mono", Helvetica, sans-serif;
// $proximaNovaFontStack: "proxima-nova", Helvetica, sans-serif;
 
$body-font: $montserratFontStack;
$header-font: $robotoFontStack;
// $header-font: $helveticaStack;
// $body-font: $helveticaStack;

/*-------------------------------------------
    Definitions: Units
-------------------------------------------*/

$spacing: 12;

$xs: $spacing;
$s: $spacing * 2;
$m: $spacing * 3;
$l: $spacing * 4;
$xl: $spacing * 5;
$xxl: $spacing * 6;
$xxxl: $spacing * 7;
$uberl: $xxl * 2;

$-xs: $spacing * -1;
$-s: $spacing * 2 * -1;
$-m: $spacing * 3 * -1;
$-l: $spacing * 4 * -1;
$-xl: $spacing * 5 * -1;
$-xxl: $spacing * 6 * -1;
$-xxxl: $spacing * 7 * -1;

/*-------------------------------------------
    Definitions: Decorations
-------------------------------------------*/
