{% extends "_layout" %} {% block content %}
<div class='ha-c-articleHeader' style='background: linear-gradient(rgba(25, 25, 25, 0.6), rgba(25, 25, 25, 0.6)), url({{entry.caseStudy.type('
  images ').first().headerImage.first().getUrl()}}) center / cover no-repeat;'>
  <h1>{{entry.title}}</h1>
  {{entry.caseStudy.type('teaser').first().teaser}}
</div>
<article class='ha-p-caseStudy'>
  <section class='ha-c-body'>
    {{entry.body}}
  </section>
  <section class='ha-c-screenshots'>
    <div class='shot-container'>
      {% for asset in entry.caseStudy.images.type('screenshots') %} {% for image in asset.screenshot %}
      <div class='shots'><img src='{{ image.getUrl() }}'></div>
      {% endfor %} {% endfor %}
    </div>
    </section>
      <section class='ha-c-body'>
    {{entry.bottomCopy}}
  </section>


</article>
{% endblock %}