{# # Layout template # --------------- # # This template defines your site’s global layout. It can be # “extended” by other
templates to fill in the gaps. # # See Twig’s Template Inheritance documentation for more details: # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
#}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link rel='stylesheet' href='/assets/styles/app.min.css' type='text/css' />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,700|Roboto:300,500" rel="stylesheet">
</head>

<body>
	<div id="container">
		<header id="header">
		</header>
		<div class='container tilt'><div class="cmy"></div></div>
		<div class='container tilt'><div class="cmy"></div></div>
		<div class='container tilt'><div class="cmy"></div></div>
		<footer id="footer">
		</footer>
	</div>
</body>

<script src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="https://unpkg.com/tilt.js@1.1.19/dest/tilt.jquery.js"></script>
<script>

var close_to_center = false;
var dragWatcher = {};

const tilt = $('.tilt').tilt({
  maxTilt:        20,
perspective:    1000,
  speed:          2500,
});

$('.cmy').on('mousemove click', function(e) {

var height = $(this).height() / 2;
var width = $(this).width() / 2; //get to center
  var originX = (e.pageX - $(this).offset().left);
  var originY = (e.pageY  - $(this).offset().top);

  var yCalc = 50 * (originY/height);
  var xCalc = 50 * (originX/width);

  var lMouseX = (-50 + xCalc) * 2;
  var lMouseY = (-50 + yCalc) * 2;

  if(close_to_center){
	  
	$(this).css({
		'background-position': (lMouseX * .75) + "px " + (lMouseY * .75) + "px," + (lMouseX * .5) + "px " + (lMouseY * .5) + "px," + (lMouseX * .25) + "px " + (lMouseY * .25) + "px, 0px 0px" 
	});
  }
  

});



$('.cmy').on('mousedown', function(e) {

	dragWatcher["downX"] = e.pageX;
	dragWatcher["downY"] = e.pageY;
    close_to_center = true;
	$(this).css({"cursor" : "-webkit-grabbing"});
	var height = $(this).height() / 2;
	var width = $(this).width() / 2; //get to center
  var originX = (e.pageX - $(this).offset().left);
  var originY = (e.pageY  - $(this).offset().top);

  var yCalc = 50 * (originY/height);
  var xCalc = 50 * (originX/width);

  
  

  var lMouseX = (-50 + xCalc) * 2;
  var lMouseY = (-50 + yCalc) * 2;

  TweenMax.to(this,0.25, {backgroundPosition:(lMouseX * .75) + "px " + (lMouseY * .75) + "px," + (lMouseX * .5) + "px " + (lMouseY * .5) + "px," + (lMouseX * .25) + "px " + (lMouseY * .25) + "px, 0px 0px", ease:Circ.easeIn});


}).on('mouseup', function(e) {

	var a = e.pageX - dragWatcher.downX;
	var b =e.pageY - dragWatcher.downY;

	var c = Math.sqrt( a*a + b*b );
	console.log(c);
	if(c > 4){
		close_to_center = false;
		$(this).css({"cursor" : "-webkit-grab"});
		TweenMax.to(this,0.25, {backgroundPosition:"0px 0px,0px 0px,0px 0px,0px 0px", ease:Circ.easeIn});
	}else{
		window.location.href = "//google.com";
	}
});

</script>
</html>