{# # Layout template # --------------- # # This template defines your site’s global layout. It can be # “extended” by other
templates to fill in the gaps. # # See Twig’s Template Inheritance documentation for more details: # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
#}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link rel='stylesheet' href='/assets/styles/app.min.css' type='text/css' />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Mono:500" rel="stylesheet">
	<script src="//cdn.punchli.st/js/pm-public.min.js?0002"></script>
	<!-- end of head -->
</head>

<body>
	{% include 'components/_siteHeader' %}
	<div id="container">
		<main id="content" role="main">
			{% block content %}
			<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
			<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation
				for an explanation.</p>
			{% endblock %}
		</main>
	</div>
	{% include 'components/_footer' %}
	<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="/assets/js/main.js"></script>
		<script src='//cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js'></script>
			<!-- Start of Async Drift Code -->
<script>
	!function() {
		var t;
		if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
		t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
		t.factory = function(e) {
			return function() {
				var n;
				return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
			};
		}, t.methods.forEach(function(e) {
			t[e] = t.factory(e);
		}), t.load = function(t) {
			var e, n, o, i;
			e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
			o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js", 
			n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
		});
	}();
	drift.SNIPPET_VERSION = '0.3.1';
	drift.load('6g92z9wx6zef');
	</script>
	<!-- End of Async Drift Code -->
</body>

</html>