{% extends "_layout" %} {% block content %}
<section>

  <div class='ha-p-about__information'>
    <img src='/assets/images/about-image.jpg'>
    <h2>ABOUT</h2>
    <p>When i'm not working you can catch me playing Video games, hiking or traveling the world, and always trying to find new music. I love
      watching Atlanta sports as well as really, REALLY bad horror movies.</p>
  </div>
  </p>
</section>
<section class='ha-p-about__experience'>
  <p class='experience-text'>We're currently using my 20+ years of development knowledge building experiences for a myriad of clients. No matter what
    kind of development they need, we're quick to jump to the task.</p>
  <div class='image-container'>
    <div class='image-1'>
    <p>We're in it together.</p>
    </div>
    <div class='image-2'>
    <p>It can be done, we'll find the solution.</p>
    </div>
    <div class='image-3'>
    <p>We'll guide your idea into a reality.</p>
    </div>
  </div>

  {% endblock %}