{# # Homepage template # --------------- # # When this template gets loaded, it will be because someone has accessed # http://yoursite.com/
(without any URI). Craft checks to see if you have # a Single section set to be the Homepage (as you do, by default), and
# loads the section’s Template (this file). A special ‘entry’ variable # will already be set for you, assigned to the Homepage
entry. # # It's worth noting that even if you didn't have a Homepage Single section, # as long as this template remains at
craft/templates/index.html, it # would still be the one to get loaded when accessing http://yoursite.com/, # albeit without
an ‘entry’ variable already set for you. # # See this page for more details on how Craft routes requests: # http://craftcms.com/docs/routing
#} {% extends "_layout" %} {% block content %}

<section class='ha-c-offerings'>
	<h3 class='ha-u-uppercase'>We partner with friends to craft beautiful, simple, human loving digital experiences.</h3>
	<div class='ha-c-offerings--container'>
		<div>
		<p>
			<svg width='80px'xmlns="http://www.w3.org/2000/svg" viewBox="0 0 81.04 71.87">
				<defs>
				</defs>
				<title>cms</title>
				<g id="Layer_2" data-name="Layer 2">
					<g id="Layer_1-2" data-name="Layer 1">
						<circle class="cms-icon" cx="57.98" cy="49.19" r="7.78" />
						<path class="cms-icon2" d="M76.47,55.88a19.68,19.68,0,0,1-3.42,5.91L75.64,64a23.07,23.07,0,0,0,4-6.92Z" />
						<path class="cms-icon2" d="M38.31,49.16a19.58,19.58,0,0,1,1.17-6.69L36.3,41.32a23,23,0,0,0-1.37,7.84v0h3.38Z" />
						<path class="cms-icon2" d="M67.82,66.18a19.53,19.53,0,0,1-6.4,2.34L62,71.86a22.89,22.89,0,0,0,7.51-2.75Z" />
						<path class="cms-icon2" d="M42.94,61.82a19.68,19.68,0,0,1-3.43-5.9l-3.18,1.16a23.07,23.07,0,0,0,4,6.91Z" />
						<path class="cms-icon2" d="M54.58,68.53a19.53,19.53,0,0,1-6.41-2.33l-1.69,2.93A22.89,22.89,0,0,0,54,71.87Z" />
						<path class="cms-icon2" d="M42.89,36.55a19.82,19.82,0,0,1,5.22-4.4l-1.7-2.92a23.22,23.22,0,0,0-6.11,5.16Z" />
						<path class="cms-icon2" d="M54.51,29.79a19.41,19.41,0,0,1,6.84,0l.57-3.34a22.76,22.76,0,0,0-8,0Z" />
						<path class="cms-icon2" d="M67.76,32.09A19.81,19.81,0,0,1,73,36.46l2.58-2.18a23.22,23.22,0,0,0-6.14-5.12Z" />
						<path class="cms-icon2" d="M76.45,42.36a19.58,19.58,0,0,1,1.21,6.71H81a23,23,0,0,0-1.42-7.89Z" />
						<circle class="cms-icon" cx="21.63" cy="21.65" r="15.7" transform="translate(-8.97 21.64) rotate(-45)" />
						<circle class="cms-icon" cx="21.63" cy="21.65" r="5.98" transform="translate(-8.97 21.64) rotate(-45)" />
						<line class="cms-icon" x1="21.47" x2="21.47" y2="6" />
						<line class="cms-icon" x1="21.47" y1="36.94" x2="21.47" y2="42.94" />
						<line class="cms-icon" x1="42.94" y1="21.47" x2="36.94" y2="21.47" />
						<line class="cms-icon" x1="6" y1="21.47" y2="21.47" />
						<line class="cms-icon" x1="6.29" y1="6.29" x2="10.53" y2="10.53" />
						<line class="cms-icon" x1="32.41" y1="32.41" x2="36.65" y2="36.65" />
						<line class="cms-icon" x1="36.65" y1="6.29" x2="32.41" y2="10.53" />
						<line class="cms-icon" x1="10.53" y1="32.41" x2="6.29" y2="36.65" />
					</g>
				</g>
			</svg></p>
			<ul class='cms-dev'>
				<li>CMS Development</li>
				<li>Wordpress</li>
				<li>Craft</li>
				<li>Custom</li>
			</ul>
		</div>
		<div>
		<p>
			<svg width='50px'xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 112">
				<g id="Layer_2" data-name="Layer 2">
					<g id="Layer_1-2" data-name="Layer 1">
						<rect class="mobile-icon" x="2" y="2" width="64" height="108" rx="12.24" ry="12.24" />
						<line class="mobile-icon" x1="2" y1="18.23" x2="66" y2="18.23" />
						<line class="mobile-icon" x1="2" y1="90.23" x2="66" y2="90.23" />
						<path class="mobile-icon3" d="M34,98.07A1.93,1.93,0,1,1,32.07,100,1.93,1.93,0,0,1,34,98.07m0-4A5.93,5.93,0,1,0,39.93,100,5.94,5.94,0,0,0,34,94.07Z"
						/>
						<rect class="mobile-icon" x="10" y="27" width="48.5" height="16.75" />
						<rect class="mobile-icon" x="10" y="52" width="19.14" height="16.75" />
						<rect class="mobile-icon" x="39" y="52" width="19.14" height="16.75" />
						<line class="mobile-icon2" x1="8" y1="79.5" x2="60.5" y2="79.5" />
					</g>
				</g>
			</svg>
			</p>
			<ul class='mobile-apps'>
				<li>Mobile Applications</li>
				<li>iOS</li>
				<li>Android</li>
				<li>React Native</li>
			</ul>
		</div>
		<div>
		<p>
			<svg width='80px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100.7 81.4">
				<g id="Layer_2" data-name="Layer 2">
					<g id="Layer_1-2" data-name="Layer 1">
						<rect class="custom-icon" x="15.19" y="16.16" width="70.27" height="15.87" />
						<rect class="custom-icon" x="15.19" y="40.79" width="17.9" height="15.87" />
						<rect class="custom-icon" x="41.37" y="40.79" width="17.9" height="15.87" />
						<rect class="custom-icon" x="67.56" y="40.79" width="17.9" height="15.87" />
						<line class="custom-icon" x1="13.32" y1="65.79" x2="34.96" y2="65.79" />
						<line class="custom-icon" x1="39.5" y1="65.79" x2="61.14" y2="65.79" />
						<line class="custom-icon" x1="65.69" y1="65.79" x2="87.33" y2="65.79" />
						<line class="custom-icon2" x1="20.89" y1="79.4" x2="80.74" y2="79.4" />
						<line class="custom-icon2" x1="20.89" y1="2" x2="80.74" y2="2" />
						<polyline class="custom-icon" points="98.7 66 98.7 79.4 86.17 79.4" />
						<polyline class="custom-icon" points="86.17 2 98.7 2 98.7 15.4" />
						<line class="custom-icon3" x1="98.7" y1="23.5" x2="98.7" y2="58.66" />
						<polyline class="custom-icon" points="2 15.4 2 2 14.53 2" />
						<polyline class="custom-icon" points="14.53 79.4 2 79.4 2 66" />
						<line class="custom-icon3" x1="2" y1="57.9" x2="2" y2="22.73" />
					</g>
				</g>
			</svg>
			</p>
			<ul class='custom-dev'>
				<li>Custom Development</li>
				<li>Mac OS Apps</li>
				<li>Websites</li>
			</ul>
		</div>
	</div>
</section>
<section class='ha-c-caseStudies'>

{# Featured #}
{% for entry in craft.entries.section('caseStudies').limit(5) %}
	
	<article style='background: linear-gradient(rgba(25, 25, 25, 0.6), rgba(25, 25, 25, 0.6)), url({{entry.caseStudy.type('images').first().headerImage.first().getUrl()}}) center / cover no-repeat;'>
		<div class='ha-c-caseStudies--info'>
			<small>CLIENT</small>
			<h2>{{entry.title}}</h2>
			<p>{{entry.caseStudy.type('teaser').first().teaser}}</p>


			<a href='{{entry.url}}'>// MORE DETAIL +</a>

		</div>
		<div class='ha-c-caseStudies--logo'>
		<img style='max-width:125px;padding-bottom:40px' src='{{ entry.caseStudy.images.type('logos').first().regularLogo.first().getUrl() | default("") }}'>
		 
		
		</div>
	</article>
	{% endfor %}
</section>
{#
<section class='ha-c-userQuotes'>
</section> #}
<section class='ha-c-clients'>
	<div class='ha-c-clients--clientList'>
		<div class='ha-c-clients--clientListClient'>
			<a href='#'><img src='/assets/images/white-logo-belay.png'></a>
		</div>
		<div class='ha-c-clients--clientListClient'>
			<a href='#'><img src='/assets/images/white-logo-akada.png'></a>
		</div>
		<div class='ha-c-clients--clientListClient'>
			<a href='#'><img src='/assets/images/white-logo-chick-fil-a.png'></a>
		</div>

		<div class='ha-c-clients--clientListClient'>
			<a href='#'><img src='/assets/images/white-logo-grovo.png'></a>
		</div>
		<div class='ha-c-clients--clientListClient'>
			<a href='#'><img src='/assets/images/white-logo-savs.png'></a>
		</div>
		<div class='ha-c-clients--clientListClient'>
			<a href='#'><img src='/assets/images/white-logo-home-depot.png'></a>
		</div>

	</div>
	<div class='ha-c-clients--info'>
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="95px">
			<path fill-rule="evenodd" stroke="rgb(254, 182, 44)" stroke-width="6px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
			  d="M194.000,85.422 L103.047,85.422 " />
			<path fill-rule="evenodd" stroke="rgb(76, 70, 66)" stroke-width="6px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
			  d="M84.857,85.422 L3.000,85.422 " />
			<path fill-rule="evenodd" stroke="rgb(255, 174, 174)" stroke-width="6px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
			  d="M194.000,65.671 L3.000,65.671 " />
			<path fill-rule="evenodd" stroke="rgb(0, 0, 0)" stroke-width="6px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
			  d="M30.286,45.919 L3.000,45.919 " />
			<path fill-rule="evenodd" stroke="rgb(0, 0, 0)" stroke-width="6px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
			  d="M139.429,45.919 L48.476,45.919 " />
			<path fill-rule="evenodd" stroke="rgb(63, 217, 194)" stroke-width="6px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
			  d="M194.000,26.167 L3.000,26.167 " />
			<path fill-rule="evenodd" stroke="rgb(254, 182, 44)" stroke-width="6px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
			  d="M93.952,6.415 L3.000,6.415 " />
			<path fill-rule="evenodd" stroke="rgb(0, 0, 0)" stroke-width="6px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
			  d="M194.000,6.415 L112.143,6.415 " />
		</svg>

		<p>
			< A small selection from our list of happy clients we call friends</p>
	</div>
</section>
{% endblock %}