#nav-hamburger {
  float: right;
  width: 40px;
  height: 0;
  margin-top: 20px;
  position: relative;
  // margin-right: 10px;
}

#nav-hamburger {
  cursor: pointer;
  padding: 10px 0 16px;
} 
// #nav-hamburger span,

#nav-hamburger span:after,
#nav-hamburger span:before {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 25px;
  background: $brand-black;
  position: absolute;
  display: block;
  content: '';
}

#nav-hamburger span:after,
#nav-hamburger span:before {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 25px;
  background: $brand-black;
  position: absolute;
  display: block;
  content: '';
}


#nav-hamburger span:before {
  top: -1px;
}

#nav-hamburger span:after {
  top: 8px;
}
// #nav-hamburger span,

#nav-hamburger span:after,
#nav-hamburger span:before {
  transition: all 250ms ease-in-out;
}
// #nav-hamburger.active span {
//   background-color: transparent;
// }

#nav-hamburger.active span:after,
#nav-hamburger.active span:before {
  top: 4px;
  background: $brand-black;
}

#nav-hamburger.cross span:before {
  transform: rotate(45deg);
}

#nav-hamburger.cross span:after {
  transform: rotate(-45deg);
}
